<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=Home Page, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is home page.</h1>
    <h2> <%= ["hello","bonjour","ciao"][1] %></h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
         Vitae dolorem quis corrupti laborum reprehenderit totam 
         enim possimus, perspiciatis ut eveniet amet quaerat 
        repellat atque maxime ab officia molestias suscipit 
        earum!</p>
    <button>Click me!</button>
</body>
</html>